# React Native (newsapp)
newsapp/node_modules
newsapp/dist
newsapp/dist-ssr
newsapp/*.local
newsapp/.expo/
newsapp/web-build/
newsapp/*.orig.*
newsapp/*.jks
newsapp/*.p8
newsapp/*.p12
newsapp/*.key
newsapp/*.mobileprovision
newsapp/.metro-health-check*
newsapp/npm-debug.*
newsapp/yarn-debug.*
newsapp/yarn-error.*
newsapp/*.pem
newsapp/.env*.local
newsapp/.env
newsapp/*.tsbuildinfo


# ReactJS (task-app)
task-app/node_modules
task-app/dist
task-app/*.local
task-app/.vscode/*
!task-app/.vscode/extensions.json
task-app/.idea
task-app/.DS_Store
task-app/*.suo
task-app/*.ntvs*
task-app/*.njsproj
task-app/*.sln
task-app/*.sw?
task-app/npm-debug.*
task-app/yarn-debug.*
task-app/yarn-error.*
task-app/*.pem
task-app/.env*.local
task-app/.env
task-app/*.tsbuildinfo
*.apk
