# React Native (newsapps)
newsapps/node_modules
newsapps/dist
newsapps/dist-ssr
newsapps/*.local
newsapps/.expo/
newsapps/web-build/
newsapps/*.orig.*
newsapps/*.jks
newsapps/*.p8
newsapps/*.p12
newsapps/*.key
newsapps/*.mobileprovision
newsapps/.metro-health-check*
newsapps/npm-debug.*
newsapps/yarn-debug.*
newsapps/yarn-error.*
newsapps/*.pem
newsapps/.env*.local
newsapps/.env
newsapps/*.tsbuildinfo


# ReactJS (task-app)
task-app/node_modules
task-app/dist
task-app/*.local
task-app/.vscode/*
!task-app/.vscode/extensions.json
task-app/.idea
task-app/.DS_Store
task-app/*.suo
task-app/*.ntvs*
task-app/*.njsproj
task-app/*.sln
task-app/*.sw?
task-app/npm-debug.*
task-app/yarn-debug.*
task-app/yarn-error.*
task-app/*.pem
task-app/.env*.local
task-app/.env
task-app/*.tsbuildinfo
*.apk
